.toolbar
{
    background-color: #EFEFEF;
    
    width: 100px;
    height: 100%;
    padding: 0px;
}

body
{
    margin: 0;
    padding: 0;
    
    height: 100%;
}

html
{
    height: 100%;
}

#logo
{
    width: 50px;
    padding-top: 0px;
    padding-left: 0px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.box
{
    width: 86px;
    color: #EFEFEF;
    background-color: #7C1F5E;
    padding: 5px 7px 6px 7px;
    text-align: center;
    font-size: 1em;  
    position: absolute;
    top: 100px;
    font-family: sans-serif;
}

#arrow
{
    position: absolute;
    top: 150px;
    width: 18px;
    left: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#arrow:hover
{
    fill: red;
    
}


