.toolbar
{
    color: crimson;
    background-color: beige;
    
    width: 80px;
    height: 100%;
    
    padding: 20px;
}

body
{
    margin: 0;
    padding: 0;
    
    height: 100%;
}

html
{
    height: 100%;
}

#logo
{
    width: 50px;
}

.yolo
{
    display: block;
    margin: 0 auto;
}